<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name ="myConexion" connectionString="server=localhost; database=BdiExamen; integrated security=true; Trusted_Connection=SSPI;MultipleActiveResultSets=true;"/>
	</connectionStrings>
	<Reference Include="EntityFramework, Version=4.8, Culture=neutral, PublicKeyToken=b77a5c561934e089, processorArchitecture=MSIL">
		<HintPath>..\packages\EntityFramework.6.1.3\lib\net45\EntityFramework.dll</HintPath>
		<Private>True</Private>
	</Reference>
</configuration>
